#selectable-menu .ui-selecting { background: #B3D4FC; }
#selectable-menu .ui-selected { background: #3baae3; color: white; }
#selectable-menu { list-style-type: none; margin: 0; margin-top: 100px; padding: 0; width: 20%; float: left; }
#selectable-menu li { margin: 3px; padding: 0.4em; font-size: 1.0em; height: 20px; cursor: pointer; }

#main {
	overflow-y:auto;
	margin-right: 100px;
	margin-top: 5%;
	margin-left: 200px;
}


#main i {
	color: blue;
    margin: 0;
    margin-top: 200px;
}

#panel {
	margin-left: 31%;
}

ul {
    list-style-type: none;
}

.btn-blue {
    background: #f2f5f7;
    margin: 3px;
    padding: 0.4em;
    font-size: 1.0em;
    height: 20px;
    cursor: pointer;
}

.btn-blue:hover {
    color: white;
    background: #3baae3;
}

